.custom-card {
  width: 25rem;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.card-image {
  transition: transform 0.3s ease-in-out;
}

.card-image:hover {
  transform: scale(1.01); /* Scales the image to 110% of its size */
}

.card-overview {
  justify-content: space-evenly;
  display: flex;
}

.custom-card .card-image {
  height: 30rem;
}

.title-type-container {
  justify-content: space-evenly;
}
.edit-button {
  width: 45%;
}
