.custom-card {
  width: 25rem;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.card-overview {
  justify-content: space-evenly;
  display: flex;
}

.custom-card .card-image {
  height: 30rem;
}

.title-type-container {
  justify-content: space-evenly;
}
.edit-button {
  width: 45%;
}
